/** CSS for Mia Case Study **/

:root {
  --font-sans-serif: 'Work Sans', sans-serif;
  --dark-grey: #222;
  --white: #fff;
  --blue: ##1261C7;
  --light-grey: #e9e8e8;
  --pandemic-red: #ff0008;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans-serif);
  color: var(--dark-grey);
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 80rem;
  margin: auto;
}

/**Typography**/
h1, h2 {
  margin: 0;
}

h3 {
  line-height: 1.5rem;
}

/** Header styles **/
.page-header {
  display: grid;
  grid-template-columns: 400px 1fr;
  justify-content: center;
  margin: 3rem 0 .5rem 0;
}

.page-header_wordmark {
  font-weight: 800;
  font-size: 1.8rem;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  font-size: .8rem;
}

.nav_primary, .nav_secondary {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
}

.navbar_item {
  display: inline;
  margin: .5rem;
}

.navbar_item a {
  text-decoration: none;
  color:#222;
}

.navbar_item a:hover {
  text-decoration: underline;
}

.navbar_item-icon {
  font-size: 1.2rem;
}

.navbar_item-icon a:hover {
  color: rgba(0, 0, 0, .75);
}

.navbar_item-primary {
  font-weight: 800;
}

.navbar_item-secondary {
  font-weight: 300;
}

@media (max-width: 65rem) {
.nav_secondary {
  display: none;
}
}

/** Alert styles **/

.alert {
  background-color: var(--pandemic-red);
  color: var(--white);
  margin: .5rem 0;
  padding: 1.5rem;
  text-align: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.alert a{
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.alert a:hover {
  text-decoration: underline; 
}

.alert__text-item {
  display: inline;
  padding: 2rem;
}

/**Hero**/
.hero__title {
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
}

.hero__link a {
  font-weight: 800;
  font-size: 3rem;
  color: rgba(0, 0, 0, .75);
  text-decoration: none;
}

.hero__link a:hover {
color: #222;
}

.hero__description {
font-weight: 300;
font-size: 1.5rem;
line-height: 1.5rem;
padding: 2rem 0 1rem 0;
}

figure {
position: relative;
margin: 0;
}

.hero img {
display: block;
max-width: 100%;
}

.logo {
position: absolute;
bottom: -45px;
left: -10px;
color: white;
font-weight: 900;
font-size: 12rem;
width: 100%;
max-height: 100%;
overflow: hidden;
}

.hero {
display: grid;
grid-template-columns: 2fr 1fr;
grid-gap: 2rem;
box-sizing: border-box;
}

@media (max-width: 65rem) {
.hero {
grid-template-columns: 1fr;
}
}


/** Buttons **/

.button__primary a {
color: white;
text-decoration: none;
text-transform: uppercase;
background-color: #222;
padding: .6rem;
font-weight: 700;
font-size: .8rem;
}

.button__primary a:hover {
background-color: rgba(0,0,0,.75);
}


/** Chatbot **/

.chatbot a {
font-size: 1.5rem;
background-color: black;
color: white;
padding: .5rem .8rem;
border-radius: 5px;
text-decoration: none;
letter-spacing: -1px;
box-shadow: 0 0 10px 0 rgba(0,0,0, .7);
position: sticky;
top: 200px;
left: 1200px;
}


/**Banner**/

.banner {
background-color: #e9e8e8;
padding: 1.2rem;
margin: 5rem 0 .5rem 0;
}

.banner__title {
display: inline;
font-weight: 700;
}

.banner__text {
display: inline;
font-weight: 300;
}

.banner__link {
color: #444;
}

/**Main**/

.main {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-column-gap: 2rem;
grid-row-gap: 1rem;
font-weight: 300;
margin: 2rem 0;
line-height: 1.25rem;
}

.main a {
text-decoration: none;
color: #222;
}

.item_heading {
font-weight: 900;
font-size: 1.5rem;
margin: .5rem 0;
}

.item_heading-line {
font-weight: 900;
font-size: 1.5rem;
border-top: 2px solid black;
margin: .5rem 0;
}

.link-heavy {
font-weight: 700;
font-size: .9rem;
text-transform: uppercase;
color: #222;
}

.link-heavy a:hover {
text-decoration: underline;
}

.link-blue {
color: #1261C7 !important;
}

.main ul {
  list-style-type: none;
  line-height: 1.5rem;
}

.link_list {
  padding-left: 0;
}


/**Upcoming Virtual Events and Blog**/

.events-list {
display: grid;
grid-row-gap: 1rem;
font-size: .8rem;
}

.event_item {
background-color: #e9e8e8;
padding: 1rem;
}

.event_item:hover {
background-color: #333;
}

.event_item a:hover {
color: white;
}

.blog_item {
display: grid;
grid-template-columns: 90px 1fr;
grid-column-gap: 1rem;
padding: .25rem;
}

.blog_item p, .event_item p {
font-size: .8rem;
margin: 0;
}

.blog_item h4 {
margin: 0;
font-weight: 800;
}

.blog_item a:hover {
text-decoration: underline;
}

.event_item h4 {
margin: 0;
font-weight: 700;
}
  

/** Footer **/
.footer {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
grid-gap: 40%;
justify-content: space-between;
border-top: 2px solid black;
}

footer ul {
list-style-type: none;
}

.contact__list {
font-weight: 300;
line-height: 1.4rem;
padding: 0;
margin: 0;
}

.contact__list-wordmark {
font-weight: 700;
}

.contact__list-item a {
text-decoration: none;
color: #222;
}

.contact__list-item a:hover {
text-decoration: underline;
}

.nav__list {
padding-right: 5rem;
}

.request__list {
display: flex;
text-transform: uppercase;
font-weight: 300;
font-size: .8rem;
padding: 0;
}

.request__list-item {
padding: .3rem;
}

.request__list a:hover {
text-decoration: underline;
}

.request__list a, .social__list a {
color: #222;
text-decoration: none;
}

.social__list {
display: flex;
padding: 0;
}

.social__list-item {
padding: .7rem;
}

.social__list a:hover {
color: rgba(0, 0, 0, .75);
}

.tax-exempt{
font-weight: 300;
font-size: .7rem;
}

