/** CSS for Mia Case Study **/

:root {
  --font-sans-serif: 'Work Sans', sans-serif;
  --dark-grey: #222;
  --white: #fff;
  --blue: ##1261C7;
  --light-grey: #e9e8e8;
  --pandemic-red: #ff0008;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans-serif);
  color: var(--dark-grey);
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  letter-spacing: -.02rem;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 78rem;
  margin: auto;
}

/**Typography**/
h1, h2 {
  margin: 0;
}

h1 {
  font-weight: 800;
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

h4 {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
}

h5 {
  font-size: .8rem;
  font-weight: 700;
  margin: 0;
}

.tax-exempt, .blog-date, .event_item-description {
  font-size: .8rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.25rem;
}

.navbar_item-secondary, .request__list {
  font-size: .8rem;
  font-weight: 300;
} 

/** Header styles **/
.page-header {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-gap: 1rem;
  justify-content: center;
  margin: 3rem 0 .5rem 0;
} 

@media (max-width: 65rem) {
  .page-header {
  display: flex;
  flex-direction: column;
  
}
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav_primary {
    display: flex;
  }

  .nav_secondary {
    justify-content: flex-end;
  }
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.nav_primary, .nav_secondary {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
}

.navbar_item {
  display: inline;
  margin: .5rem;
}

.navbar_item-primary {
  font-size: .8rem;
  font-weight: 800;
}

.navbar_item a {
  text-decoration: none;
  color:#222;
}

.navbar_item a:hover {
  text-decoration: underline;
}

.navbar_item-icon {
  font-size: 1.1rem;
}

.navbar_item-icon a:hover {
  color: rgba(0, 0, 0, .75);
}

@media (min-width: 65rem) {
.navbar_item-smaller {
  display: none;
}
}

@media (max-width: 65rem) {
  .navbar_item-secondary {
    display: none;
}
}

/** Alert styles **/
.alert {
  background-color: var(--pandemic-red);
  color: var(--white);
  margin: .5rem 0;
  padding: 1.2rem;
  font-weight: 400;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.alert a{
  color: var(--white);
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.alert a:hover {
  text-decoration: underline; 
}

.alert__text-item {
  display: inline;
  padding: 2rem;
}

/**Hero**/
.hero__link a {
  color: rgba(0, 0, 0, .75);
  text-decoration: none;
}

.hero__link a:hover {
  color: #222;
}

.hero__description {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 2rem 0 1rem 0;
}

figure {
  position: relative;
  margin: 0;
}

.hero img {
  display: block;
  max-width: 100%;
}

.logo {
  position: absolute;
  bottom: -32px;
  left: -12px;
  color: white;
  font-weight: 900;
  font-size: 12rem;
  line-height: 12rem;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  box-sizing: border-box;
}

@media (max-width: 65rem) {
.hero {
  grid-template-columns: 1fr;
}
}


/** Buttons **/
.button__primary a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #222;
  padding: .6rem;
  font-weight: 700;
  font-size: .8rem;
}

.button__primary a:hover {
  background-color: rgba(0,0,0,.75);
}

/** Chatbot **/
.chatbot a {
  font-size: 1.5rem;
  background-color: black;
  color: white;
  padding: .5rem .8rem;
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: -1px;
  box-shadow: 0 0 10px 0 rgba(0,0,0, .7);
}

.chatbot {
  position: sticky;
  top: 82vh;
  left: 88vw;
  z-index: 1;
  width: 150px;
}


/**Banner**/
.banner {
  background-color: #e9e8e8;
  padding: 1.2rem;
  margin: 3rem 0 .5rem 0;
}

.banner__title {
  display: inline;
}

.banner__text {
  display: inline;
}

.signup__link {
  color: #444;
}

/**Main**/
.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  margin: 2rem 0;
}

.main a {
  text-decoration: none;
  color: #222;
}

.item_heading {
  margin: .5rem 0;
}

.item_heading-line {
  border-top: 2px solid black;
  margin: .5rem 0;
}

.link-heavy {
  font-weight: 700;
  font-size: .9rem;
  text-transform: uppercase;
  color: #222;
}

.link-heavy a:hover {
  text-decoration: underline;
}

.link-blue {
  color: #1261C7 !important;
}

.main ul {
  list-style-type: none;
  line-height: 1.8rem;
}

.link_list {
  padding-left: 0;
}

/**Upcoming Virtual Events and Blog**/
.events-list {
  display: grid;
  grid-row-gap: 1rem;
}

.event_item {
  background-color: #e9e8e8;
  padding: 1rem;
}

.event_item p {
  margin: 0;
}

.event_item:hover {
  background-color: #333;
}

.event_item a:hover {
  color: white;
}

.blog_item {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-column-gap: 1.0rem;
  padding: .3rem;
}

.blog_item a:hover {
  text-decoration: underline;
}


/** Footer **/
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 33%;
  justify-content: space-between;
  border-top: 2px solid black;
  margin: 1rem 0;
}

@media (max-width: 65rem) {
  .footer {
    grid-template-columns: 1fr;
  }
  }

footer ul {
  list-style-type: none;
}

.contact__list {
  padding: 0;
  margin: 0;
}

.contact__list-wordmark {
  font-weight: 800;
}

.contact__list-item a {
  text-decoration: none;
  color: #222;
}

.contact__list-item a:hover {
  text-decoration: underline;
}

.nav__list {
  padding-right: 5rem;
  margin: 0;
}

.request__list {
  display: flex;
  text-transform: uppercase;
  padding: 0;
  margin: .5rem 0 1rem 0;
}

.request__list-item {
  padding: .3rem;
}

.request__list a:hover {
  text-decoration: underline;
}

.request__list a, .social__list a {
  color: #222;
  text-decoration: none;
}

.social__list {
  display: flex;
  padding: 0;
  margin-bottom: 1rem;
}

.social__list-item {
  padding: .7rem;
}

.social__list a:hover {
  color: rgba(0, 0, 0, .75);
}


