<!doctype html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <title>Components | Mia</title>
        <link rel="stylesheet" href="../css/main.css" />
        <link rel="stylesheet" href="../css/normalize.css" />
        <script src="https://kit.fontawesome.com/094ca0e558.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <h1>Web Components Go Here</h1>

        <h2>Typography Defaults</h2>
        
        <article class="component">
            <h3 class="component_hero">Hero Heading</h3>
            <img src="img/home/hero/hero_title.png" alt="hero title Mia Is Temporarily Closed">
            <div class="hero__code">
                <h1 class="hero__title">Mia is temporarily closed</h1>
                <h2 class="hero__link"><a href="#">Learn more here</a></h2>
            </div>
        </article>  
        
        <br>

        <article class="component">
            <h3 class="component-hero">Hero Description</h3>
            <img src="img/home//hero/hero_description.png" alt="hero content">
            <div class="hero__code">
                <p class="hero__description">
                    Please donate today! Your gift helps us with immediate expenses and preparations to reopen our galleries.
                </p>
            </div>     
        </article>

        <br>

        <article class="component">
            <h3 class="component_hero">Hero Photo</h3>
            <p>Found Mia's current banner on their collections site, image is in the public domain :)</p>
            <img src="img/home/hero/hero_photo.png" alt="hero photo">
            <div class="hero__code">
                <figure>
                    <img src="../img/lovers16x9med.jpg" width="800" alt="watercolor">
                    <!--must credit: https://collections.artsmia.org/art/4319/lovers-watching-an-approaching-thunderstorm-india"-->
                    <figcaption class="logo">Mia</figcaption>
                </figure>
            </div>
        </article>

        <br>

        <article class="component">
            <h3 class="component_hero">Button Primary</h3>
            <img src="img/home/hero/button.png" alt="button primary">
            <div class="hero__code">
                <p class="button__primary"><a href="#">Donate Here</a></p>
            </div>
        </article>

        <br>

        <article class="component">
            <h3 class="component_hero">Hero Altogether, with responsiveness</h3>
            <div class="hero">
                <div class="hero__figure">
                    <figure>
                        <img src="../img/lovers16x9med.jpg" width=800 alt="watercolor entitled Lovers Watching an Approaching Thunderstorm">
                        <!--must credit: https://collections.artsmia.org/art/4319/lovers-watching-an-approaching-thunderstorm-india"-->
                        <figcaption class="logo">Mia</figcaption>
                    </figure>
                </div>
                <div class="hero__text">
                    <h1 class="hero__title">Mia is temporarily closed</h1>
                    <h2 class="hero__link"><a href="#">Learn more here</a></h2>

                    <p class="hero__description">
                        Please donate today! Your gift helps us with immediate expenses and preparations to reopen our galleries.
                    </p>

                    <p class="button__primary"><a href="#">Donate Here</a></p>
                </div> <!--end hero text div-->
            </div> <!--end hero div-->
            

        </article>

        <br>

        <article class="component">
            <h3 class="component_hero">Banner</h3>
            <img src="img/home/banner/banner.png">
            <div class="banner__code">
                <div class="banner">
                    <h4 class="banner__title">Stay Informed.</h4>
                    <p class="banner__text"><a href="#" class="banner__link">Sign up</a> to receive bimonthly emails from Mia.</p>
                </div>
            </div>
        </article>

        <br>

        <article class="component">
            <h3 class="component_header">Header</h3>
            <img src="img/home/header/header.png">
        
                
            <div class="header__code"> 
                <header class="page-header">
                    <h1 class="page-header_wordmark">Minneapolis Institute of Art</h1>
                    <ul class="navbar">
                        <li class="navbar_item navbar_item-primary"><a href="#!">Tickets</a></li>
                        <li class="navbar_item navbar_item-primary"><a href="#!">Calendar</a></li>
                        <li class="navbar_item navbar_item-primary"><a href="#!">Donate</a></li>
                        <li class="navbar_item navbar_item-icon"><a href="#!"><i class="fas fa-search"></i></a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Exhibitions</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Art + Artists</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Visit</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Programs</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Support</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">About</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Shop</a></li>
                    </ul>
                </header>
            </div>   
        </article>    

</body>
</html>