<!doctype html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <title>Components | Mia</title>
        <link rel="stylesheet" href="../css/main.css" />
        <link rel="stylesheet" href="../css/normalize.css" />
        <script src="https://kit.fontawesome.com/094ca0e558.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/3f10508ff5.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <h1>Web Components Go Here</h1>

        <h2>Typography Defaults</h2>
        
        <article class="component">
            <h3 class="component_hero">Hero Heading</h3>
            <img src="img/home/hero/hero_title.png" alt="hero title Mia Is Temporarily Closed">
            <div class="hero__code">
                <h1 class="hero__title">Mia is temporarily closed</h1>
                <h2 class="hero__link"><a href="#">Learn more here</a></h2>
            </div>
        </article>  
        
        <br>

        <article class="component">
            <h3 class="component-hero">Hero Description</h3>
            <img src="img/home//hero/hero_description.png" alt="hero content">
            <div class="hero__code">
                <p class="hero__description">
                    Please donate today! Your gift helps us with immediate expenses and preparations to reopen our galleries.
                </p>
            </div>     
        </article>

        <br>

        <article class="component">
            <h3>Chatbot</h3>
            <img src="img/home/chatbot.png">
            <div class="chatbot_code">
                <p class="chatbot"><a href="#"><i class="far fa-comment"></i> Ask Mia</a></p>
            </div>

        </article>
    

        <article class="component">
            <h3 class="component_hero">Hero Photo</h3>
            <p>Found Mia's current banner on their collections site, image is in the public domain :)</p>
            <img src="img/home/hero/hero_photo.png" alt="hero photo">
            <div class="hero__code">
                <figure>
                    <img src="../img/lovers16x9med.jpg" width="800" alt="watercolor">
                    <!--must credit: https://collections.artsmia.org/art/4319/lovers-watching-an-approaching-thunderstorm-india"-->
                    <figcaption class="logo">Mia</figcaption>
                </figure>
            </div>
        </article>

        <br>

        <article class="component">
            <h3 class="component_hero">Button Primary</h3>
            <img src="img/home/hero/button.png" alt="button primary">
            <div class="hero__code">
                <p class="button__primary"><a href="#">Donate Here</a></p>
            </div>
        </article>

        <br>

        <article class="component">
            <h3 class="component_hero">Hero Altogether, with responsiveness</h3>
            <div class="hero">
                <div class="hero__figure">
                    <figure>
                        <img src="../img/lovers16x9med.jpg" alt="watercolor entitled Lovers Watching an Approaching Thunderstorm">
                        <!--must credit: https://collections.artsmia.org/art/4319/lovers-watching-an-approaching-thunderstorm-india"-->
                        <figcaption class="logo">Mia</figcaption>
                    </figure>
                </div>
                <div class="hero__text">
                    <h1 class="hero__title">Mia is temporarily closed</h1>
                    <h2 class="hero__link"><a href="#">Learn more here</a></h2>

                    <p>&nbsp;</p>

                    <p class="hero__description">
                        Please donate today! Your gift helps us with immediate expenses and preparations to reopen our galleries.
                    </p>

                    <p class="button__primary"><a href="#">Donate Here</a></p>
                </div> <!--end hero text div-->
            </div> <!--end hero div-->
            

        </article>

        <br>

        <article class="component">
            <h3 class="component_hero">Banner</h3>
            <img src="img/home/banner/banner.png">
            <div class="banner__code">
                <div class="banner">
                    <h4 class="banner__title">Stay Informed.</h4>
                    <p class="banner__text"><a href="#" class="banner__link">Sign up</a> to receive bimonthly emails from Mia.</p>
                </div>
            </div>
        </article>

        <br>

        <article class="component"> 
            <h3 class="component_main">Main Posts</h3>
            <img src="img/home/posts/post-main.png" alt="screenshot">
            
            <div class="post_main">
                <div class="post_item">
                    <a href="#">
                        <img src="../img/olivetrees3x2.jpg" alt="painting of Olive Trees by Vincent Van Gogh">

                        <h3 class="item_heading">Explore the Art</h3>
                        <p>Explore Mia's art collection from the comforts of your home. You'll find fascinating art stories and podcasts, 360-degree images and zoom views of the collection, and more to spark and nurture your creativity.</p>
                    </a>
                </div>
                <div class="post_item">
                    <a href="#">
                        <img src="../img/pinkbluepainting.jpg" alt="pink and blue abstract painting">
                        
                        <h3 class="item_heading">Art From Home</h3>
                        <p>With a variety of art-making ideas, fun activities, and learning resources, you can engage with Mia from wherever you are.</p>
                    </a>
                </div>
                <div class="post_item">
                    <a href="#">
                        <img src="../img/laughingpeople.jpg" alt="three people laughing together">
                        
                        <h3 class="item_heading">My Mia Membership</h3>
                        <p>Contributions from members provide essential support to Mia and a year of valuable benefits to you! Gift processing continues while the museum is closed to the public. Join My Mia or renew your membership today.</p>
                    </a>
                </div>
                <div class="post_item">
                    <h3 class="item_heading-line"><a href="#">Plan Your Visit</a></h3>
                    <p>In consideration of the health and welfare of visitors, volunteers, and staff, Mia is temporarily closed to the public. <a href="#" class="link-blue">Learn more here</a>.</p>

                    <ul>
                        <li>Monday: Closed</li>
                        <li>Tuesday: Closed</li>
                        <li>Wednesday: Closed</li>
                        <li>Thursday: Closed</li>
                        <li>Friday: Closed</li>
                        <li>Saturday: Closed</li>
                        <li>Sunday: Closed</li>
                    </ul>

                    <p> The museum is closed July 4, Thanksgiving, Christmas Eve, and Christmas Day.</p>

                    <ul>
                        <li class="link-heavy"><a href="#">Directions</a></li>
                        <li class="link-heavy"><a href="#" class="link-heavy">Policies, Guidelines, Accessibility and Inclusion</a></li>
                        <li class="link-heavy"><a href="#" class="link-heavy">Specialized Tours</a></li>
                        <li class="link-heavy"><a href="#" class="link-heavy">FAQS</a></li>
                    </ul>
                </div>
                <div class="post_item">
                    <h3 class="item_heading-line">Upcoming Virtual Events</h3>
                    <div class="events">
                        <div class="events-list">
                            <div class="event_item">
                                <a href=#>
                                    <h4>Virtual Third Thursday: Self-Care</h4>
                                    <p>Thursday, May 21, 2020</p>
                                    <p>6:00 pm</p>
                                </a>
                            </div>
                            <div class="event_item">
                                <a href="#">
                                    <h4>Virtual Family Day: Stories of Resilience</h4>
                                    <p>Sunday, May 10, 2020</p>
                                    <p>11:00 am</p>
                                </a>
                            </div>
                            <div class="event_item">
                                <a href="#">
                                    <h4>Virtual Family Day: Making Home</h4>
                                    <p>Sunday, June 14, 2020</p>
                                    <p>11:00 am</p>
                                </a>
                            </div> <!--end div event-item-->
                        </div><!--end events list div-->
                    </div> <!--end div events-->

                    <p class="link-heavy"><a href="#">View Calendar</a></p>
        
                </div> <!--end div post item Upcoming Virtual Events-->
                <div class="post_item">
                    <h3 class="item_heading-line">Blog</h3>

                    <div class="blog-list">
                        <div class="blog_item">
                            <a href="#"><img src="http://placehold.it/90"></a>
                            <div class="blog-description">
                                <p>April 30, 2020</p>
                            <h4><a href="#">An historian of Asian immigration explains how art enables understanding</a></h4>
                            </div><!--end div blog description-->
                        </div><!--end div blog item-->
                        <div class="blog_item">
                            <a href="#"><img src="http://placehold.it/90"></a>
                            <div class="blog-description">
                                <p>April 30, 2020</p>
                                <h4><a href="#">Rethinking education as Mia celebrates Asian American and Pacific Islander Heritage Month</a></h4>
                            </div><!--end div blog description-->
                        </div><!--end div blog item-->
                        <div class="blog_item">
                            <a href="#"><img src="http://placehold.it/90"></a>
                            <div class="blog-description">
                                <p>April 28, 2020</p>
                                <h4><a href="#">How volunteers are helping Mia reach new audiences</a></h4>
                            </div><!--end div blog description-->
                        </div><!--end div blog item-->
                        <div class="blog_item">
                            <a href="#"><img src="http://placehold.it/90"></a>
                            <div class="blog-description">
                                <p>April 30, 2020</p>
                                <h4><a href="#">Art in Bloom joins Hirschfield's Design Resources to spotlight decor and paint trends</a></h4>
                            </div><!--end div blog description-->
                        </div><!--end div blog item-->
                    </div><!--end div blog post-->
                    <p class="link-heavy"><a href="#">View Blog</a></p>
                </div> <!--end div post-item Blog-->
            </div> <!--end div post main -->
        </article>


        <article class="component">
            <h3 class="component_header">Header</h3>
            <img src="img/home/header/header.png">
        
                
            <div class="header__code"> 
                <header class="page-header">
                    <h1 class="page-header_wordmark">Minneapolis Institute of Art</h1>
                    <ul class="navbar">
                        <li class="navbar_item navbar_item-primary"><a href="#!">Tickets</a></li>
                        <li class="navbar_item navbar_item-primary"><a href="#!">Calendar</a></li>
                        <li class="navbar_item navbar_item-primary"><a href="#!">Donate</a></li>
                        <li class="navbar_item navbar_item-icon"><a href="#!"><i class="fas fa-search"></i></a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Exhibitions</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Art + Artists</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Visit</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Programs</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Support</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">About</a></li>
                        <li class="navbar_item navbar_item-secondary"><a href="#!">Shop</a></li>
                    </ul>
                </header>
            </div>   
        </article>   
        
        <article class="component">
            <h3 class="component_footer">Footer</h3>
            <img src ="img/home/footer/footer.png">

            <div class="footer__code">
                <footer class="footer__navbar">
                    <ul class="contact__list">
                        <li class="contact__list-wordmark">Minneapolis Institute of Art</li>
                        <li class="contact__list-item"><a href="#">2400 3rd Avenue South <br> Minneapolis, Minnesota 55404</a></li>
                        <li class="contact__list-item"><a href="#">888 642 2787 (Toll Free)</a></li>
                        <li class="contact__list-item"><a href="#">visit@artsmia.org</a></li>
                    </ul>

                    <div class="nav__list">
                        <ul class="request__list">
                            <li><a href="#" class="request__list-item">Press Room</a></li>
                            <li><a href="#" class="request__list-item">Venue Rentals</a></li>
                            <li><a href="#" class="request__list-item">Privacy Policy</a></li>
                        </ul>

                        <ul class="social__list">
                            <li><a href="#" class="social__list-item"><i class="fas fa-envelope-open-text"></i></a></li>
                            <li><a href="#" class="social__list-item"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="social__list-item"><i class="fab fa-flickr"></i></a></li>
                            <li><a href="#" class="social__list-item"><i class="fab fa-instagram-square"></i></a></li>
                            <li><a href="#" class="social__list-item"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="social__list-item"><i class="fab fa-youtube-square"></i></a></li>
                            <li><a href="#" class="social__list-item"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#" class="social__list-item"><i class="fab fa-tumblr"></i></a></li>
                        </ul>

                        <p class="tax-exempt">
                            The Minnneapolis Institute of Art is a tax-exempt nonprofit <br> tax identification number: 41-0693915</p>
                    </div>
                </footer>
            </div>
        </article>


</body>
</html>