<!doctype html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <title>Components | Mia</title>
        <link rel="stylesheet" href="../css/main.css" />
    </head>

    <body>
        <h1>Web Components Go Here</h1>

        <h2>Typography Defaults</h2>
      
    <article class="component">
        <h3 class="component_hero">Headings</h3>
        <img src="img/home/hero/hero_title.png" alt="hero title Mia Is Temporarily Closed">
        <div class="hero__code">
            <h1 class="hero__title">Mia is temporarily closed</h1>
            <h2><a class="hero__link" href="#">Learn more here</a></h2>
        </div>
    </article>     
    </body>
</html>